<h1>Cats upon cats!</h1>
<h5>Current user: <%= current_user.username %> </h5>

<form  action="<%= session_url %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %>">
    <input type="submit" value="Logout">

</form>



<ul>
  <% @cats.each do |cat| %>
    <li><a href="<%= cat_url(cat) %>"><%= cat.name %></a></li>
  <% end %>
</ul>

<a href="<%= new_cat_url %>">Create cat</a>
